[submodule ".tests/alertChecking"]
	path = .tests/alertChecking
	url = https://github.com/sky-s/alert-checking
	branch = master
[submodule ".tests/fig"]
	path = .tests/fig
	url = https://github.com/sky-s/fig
[submodule ".tests/randx"]
	path = .tests/randx
	url = https://github.com/sky-s/fig

