# WINDOWS
# Windows thumbnail cache files
Thumbs.db
thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini
desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# MATLAB
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# Simulink autosave extension
.autosave

# Dev files
files
uHelpScript.m