name: Run MATLAB Tests on GitHub-Hosted Runner

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  run-tests:
    name: Run MATLAB Tests and Generate Artifacts
    runs-on: ubuntu-latest
    steps:
      # Checkout
      - name: Check out repository
        uses: actions/checkout@main
        with:
          submodules: recursive
      # Set-up matlab on runner. Newest release by default
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v1.2.4
      # Run Tests
      - name: Run tests and generate artifacts
        uses: matlab-actions/run-tests@v1.4.1
        with:
          source-folder: .
          select-by-folder: .tests
          test-results-junit: test-results/results.xml
          code-coverage-cobertura: code-coverage/coverage.xml
      # Report coverage
      - name: Report code coverage
        if: always()
        uses: 5monkeys/cobertura-action@master
        with:
          path: code-coverage/coverage.xml
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          minimum_coverage: 75

